$customFontSzie: 16px;
/* 只需要重写你需要的即可 */
@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      // 主色
      'base': #129cec
    )
  ),
  $font-size: (
    'base': $customFontSzie
  ),
  $checkbox: (
    'font-size': $customFontSzie,
    'input-height': $customFontSzie,
    'input-width': $customFontSzie
  ),
  $input-font-size: (
    'large': $customFontSzie
  )
);
@use './dark.scss';
